@model IEnumerable<WebApplication2.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<h4>
    @Html.ActionLink("Create New Prodcut", "Create", new { @class = "btn btn-primary", @style = "margin-bottom:15px;" })
</h4>
<table class="table	table-bordered	table-hover table-styles">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.categoryName)

            </th>
            <th>
                Operations
            </th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.categoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit prodcut", "Edit", new { id = item.productId }) |
                    @Html.ActionLink("Delete product", "Delete", "Products", new { id = item.productId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
